.enter{
	background-color: #ffffee;
	text-align: center;
	  position: relative;
}
.enter h1{
	text-align: center;
	color: #5A66FF;
}
.enter button{
	width: auto;
	height: 30px;
	background: #5A66FF;
	cursor: pointer;
	color: white;
	font-size: 20px;
	border-radius: 50px 50px 50px 50px;
}
.enter button:hover{
	background-color: #3333FF; 
	color: #eeeedd;
}

.enter input{
  outline: none;
  border: 2px solid #fcc;
  padding: 15px;
  font-size: 20px;
  color: #500;
  font-family: inherit;
  cursor: pointer;

	width: auto;
	height: 30px;
	text-align: center;
	border-radius: 50px 50px 50px 50px;
}
.enter input:hover{
	background-color: #eeeedd; 
}
.enter label {
  cursor: pointer;

  left: 15px;
  top: 18px;
  color: #5A66FF;
  font-size: 20px;
  -webkit-transition: .2s;
  transition: .2s;
}


.enter input:valid + label,
.enter input:focus + label {
  top: 0;
  font-size: 20px;
}
.enter legend{
	color: #5A66FF;
}
.enter fieldset{
	text-align: center;
	color: #5A66FF;
	width: auto;
	height: auto;
}
.enter .but{
	width: 50px;
	vertical-align: bottom;
}
.enter img{
	width: 120px;
	height: 160px;
}
.enter p{
	background-color: #ffffee;
}
.enter select{
	text-align: center;
	color: #5A66FF;
	width:  200px;
	height: 200px;
	border: 2px solid #fcc;
	border-radius: 20px 20px 20px 20px;
}
.enter .direction {
	text-align: center;
	color: #5A66FF;
	width:  auto;
	height: auto;
	
}
.enter .direction:hover{
	color: #5A66FF;
}
.enter a{
	text-decoration:none;
	color: white;
}
.enter a:hover{
color: #ffffee;
}

